div[data-trackid="mfe-app-workspace-markdown-cell-rendered"] {
    background-color: rgba(121, 51, 255, 0.1) !important;
    border-radius: 6px;
}

.mfe-app-workspace-1wnmbqa {
    background-color: rgb(221, 221, 221) !important;
}

.mfe-app-workspace-1ba0jd9 {
    background-color: rgb(221, 221, 221) !important;
}

.mfe-app-workspace-jkgyo1 {
    border: 2px solid rgba(5, 25, 45, 0.2);
    border-radius: 6px;
}
.mfe-app-workspace-1pda6lo {
    border: 2px solid rgba(5, 25, 45, 0.8) !important;
    border-radius: 6px;
}
.mfe-app-workspace-1b0vv2m {
    border: 4px solid rgba(0, 101, 209) !important;
    border-radius: 6px;
}
